.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
bin/
db/test_structure.sql
config/database.yml
public/cache
public/images
.DS_Store
db/schema.rb
vendor/typekit
coverage/
.rvmrc
.exports
.exports_dev
.exports_prod
