<% title "Your maps" %>

<h2>Your maps</h2>

<ul>
<% @maps.each do |map| %>
  <li><%= link_to(map.name, map_path(current_user.id, map.id)) %></li>
<% end %>
</ul>

<p><%= link_to("Create a new map +", new_map_path) %></p>