<% title "New map" %>

<header id="top_bar">
  Creating a map 
  with <a href="#" data-type="what"></a>
  in <a href="#" data-type="where"></a> 
  on <a href="#" data-type="when"></a>
  
  <a href="#" class="button">Go</a>
</header>

<%= form_for :map, url: maps_path do |f|%>
<div class="save_bar">
  Done?
  <a href="#" class="button">Save map</a>
</div>

<div class="popover what">
  <h2>What</h2>
  
  <div class="social_networks">
    <label for="twitter" class="twitter">
      <span>Twitter</span>
      <input name="map[sources][]" type="hidden" value="" />
      <input name="map[sources][]" type="checkbox" value="twitter" id="twitter"/>
    </label>
    <label for="flickr" class="flickr">
      <span>Flickr</span>
      <input name="map[sources][]" type="hidden" value="" />
      <input name="map[sources][]" type="checkbox" value="flickr" id="flickr"/>
    </label>
    <label for="instagram" class="instagram">
      <span>Instagram</span>
      <input name="map[sources][]" type="hidden" value="" />
      <input name="map[sources][]" type="checkbox" value="instagram" id="instagram"/>
    </label>
  </div>
  
  <div class="keywords">
    <label for="keywords">With these words</label>
    <input type="text" id="new_keyword" />
    <ul id="keywords_list" class="keywords_list"></ul>
  </div>
  <input id="map_keywords" name="map[keywords]" type="hidden" value="" />
</div>

<div class="popover where">
  <h2>Where</h2>
  
  <div class="location">
    <input id="map_location_name" name="map[location_name]" size="30" type="text" value="" />
  </div>
  <div id="radius-picker"></div>
  
  <input id="map_lat" name="map[lat]" type="hidden" value="0.0" />
  <input id="map_lon" name="map[lon]" type="hidden" value="0.0" />
  <input id="map_radius" name="map[radius]" type="hidden" value="1000" />
</div>

<div class="popover when">
  <h2>When</h2>
  
  <div class="from">
    <label for="from_day">From</label>
    <input type="text" id="from_day" class="day" />
    <input type="text" id="from_time" class="time" />
  </div>
  <div class="to">
    <label for="to_day">To</label>
    <input type="text" id="to_day" class="day" />
    <input type="text" id="to_time" class="time" />
  </div>
  <input id="map_start_date" name="map[start_date]" type="hidden" value="" />
  <input id="map_end_date" name="map[end_date]" type="hidden" value="" />
</div>
<% end %>

<div id="timeline"></div>

<div id="map"></div>

<%= content_for :js do %>
  MAPISMO.newMap.initMapValues();
  MAPISMO.newMap.initDOM();
<% end %>