div#outer_map_cartodb_container {
  position:absolute; 
  width:100%; 
  height:100%; 
  background: #FFF; 
  z-index: -15;
}

div#map_cartodb_container {
  position:absolute; 
  top:0; 
  left:0; 
  z-index:0;
  width: 100%;
  height: 100%;
}
span.cartodb_map_controls {position:absolute; top:66px; 
  left:18px; 
  width:26px; height:100px; z-index:10;}
span.cartodb_map_controls a.cartodb_map_embed_zoom_in {display:block; width:30px; height:30px; text-indent:-9999px; line-height:0; font-size:0; background:url('https://cartodb.s3.amazonaws.com/embed/sprite.png') no-repeat -289px -142px;}
span.cartodb_map_controls a.cartodb_map_embed_zoom_in:hover {background-position:-320px -142px; cursor:pointer;}
span.cartodb_map_controls a.cartodb_map_embed_zoom_out {display:block; width:30px; height:30px; text-indent:-9999px; line-height:0; font-size:0; background:url('https://cartodb.s3.amazonaws.com/embed/sprite.png') no-repeat -289px -174px;}
span.cartodb_map_controls a.cartodb_map_embed_zoom_out:hover {background-position:-320px -174px; cursor:pointer;}
a.cartodb_logo {position:absolute; bottom:14px; left:75px; display:block; width:69px; height:27px; background:url('https://cartodb.s3.amazonaws.com/embed/sprite.png') no-repeat -350px -141px;
        text-indent:-9999px; line-height:0; font-size:0; text-transform:capitalize;}